.search-engine {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
        cursor: pointer;
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
        padding: 0 .8em;
        &:first-child {
           border-left: 0; 
        }
        &:last-child {
            border-right: 0;
        }
        &.selected {
            color: $brand-primary;
        }
    }
    .search-form-container {
        overflow: hidden;
        .input-group {
            display: block;
            margin-right: 3px;
            float: left;
        }
    }
}