$grey: #404040;
$lighter_grey: #f7f7f7;
$light_grey: #aaaa;
$dark-grey: #322B2A;
$white: #fff;

//material colours
$m-orange: #EF6C00;
$m-blue: #304FFE;
$m-purple: #D500F9;
$m-red: #FF1744;
$m-green: #4CAF50;

$calender-red: #D50000;
$brand-primary: #F2A25F;

//sky colour
$blue-sky: linear-gradient(0deg, #03A9F4 0%, #304FFE 100%);
$evening-sky: linear-gradient(0deg, #FBB633 0%, #F57F17 100%);
$night-sky: linear-gradient(0deg, #4527A0 0%, #112182 100%);
